---
import Heading from "@components/Heading.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout isContent>
  <Heading level="1">フロムソフトウェア</Heading>
  <p>
    2011年に友人からデモンズソウルを教えてもらい、そのままダークソウルを購入し以後ずっとハマる。
  </p>
  <p>
    デモンズソウル(PS3)、ダークソウル、ダークソウル2(PS3)、ダークソウル2(PS4)、ブラッドボーン、ダークソウルR、ダークソウル3、SEKIRO、ELDEN
    RING、AC6、ELDENRING
    NIGTHREGINを遊んだ。デモンズ(PS3)とダクソ2(PS3)以外はトロコン済み。
  </p>
  <p>
    デモンズソウル(PS5)とデラシネを遊びたいと思っている。ダスクブラッドも楽しみ。
  </p>
  <p>
    強い戦法を使うより敵の攻撃を覚えてローリングで避けてロングソードのR1だけで倒すことにやりがいを感じる。
  </p>
  <p>
    エルデンリングのオケコンに行ったり、コミカライズの単行本発売サイン会に参加したり、TORCH
    TORCHで買い物するなど、作品の世界にも魅了されている。
  </p>
  <Heading level="1" class="mt-8">ガンダム EXVSシリーズ</Heading>
  <p>
    ゲーセンで連ザ2に出会い、そこからずっと遊び続けている。νガンダムが好き。
  </p>
  <p>
    今まで好きな機体だけ使っていたが、イニブからうまくなるために環境機体を使う方針にし、過去作より勝率がよくなった。
  </p>
  <p>
    ネンさん、ニョロタコさん、蟹貴さんなど、上手くなるための情報発信をしている人に感謝している
  </p>
  <p>PDFやGGGPなど何度も現地観戦に行っている。</p>
  <Heading level="1" class="mt-8">アイドルマスターシリーズ</Heading>
  <p>
    2011年のアニメアイドルマスターを見たのがきっかけでハマる。星井美希さん、藤原肇さん、所恵美さんを応援しています。
  </p>
  <p>その後順調に各ブランドに触れて、ライブにも行くようになる</p>
  <p>
    好きなアイドル・ユニットは我那覇響、プロジェクトフェアリー、水瀬伊織、白雪千夜、天ヶ瀬冬馬、ジュピター、THE
    虎牙道、S.E.M、Cafe Parade、ストレイライト、芹沢あさひ。
  </p>
  <p>未履修だけど興味がある子は紫雲清夏</p>
  <Heading level="1" class="mt-8">ゼルダの伝説シリーズ</Heading>
  <p>
    1番好きな作品はムジュラの仮面。1番好きなキャラクターはミドナ。オケコンにも行った。ブレワイとティアキンはコログ含めて100%クリア済み。
  </p>
  <p>ムジュラの仮面のフィギュアとミドナのamiibo所有。</p>
  <Heading level="1" class="mt-8">風来のシレンシリーズ</Heading>
  <p>
    初代、月影村、シレン城、砂漠の魔城、シレン3からくり屋敷まではリアルタイムで遊んでいた。アスカと4と5は未プレイで間が空き、シレン6を楽しく遊ぶ。未プレイ作品はいつか遊びたいと思っている。
  </p>
  <p>
    子供の頃はシレン2に夢中だった。最果ての道をクリアしたのは大人になってから。
  </p>
  <Heading level="1" class="mt-8">逆転裁判シリーズ</Heading>
  <p>
    大人になってから初めて遊んだ。あまりにも面白くて1を遊んだあと3まで一気に遊んでしまった。4、検事1、検事2までプレイ済み
  </p>
  <p>
    新作が出てほしいがなかなか出ないので、5、6、大逆転裁判をゆっくり楽しもうと思っている
  </p>
  <Heading level="1" class="mt-8">ピクミンシリーズ</Heading>
  <p>
    世界観に魅了される。1、2、3プレイ済み。ピクミン4がやりたいのにまだ遊べていない。楽しみすぎて過去作をしっかり復習してから遊びたいと思っている。まだ1しか復習できていない。
  </p>
</BaseLayout>

<style>
  @reference "../styles/global.css";
  p {
    @apply mb-4;
  }
</style>
