---
import BaseLayout from "../layouts/BaseLayout.astro";
import IconImage from "../assets/icon.png";
import { Image } from "astro:assets";
import DescriptionRow from "@components/DescriptionRow.astro";
import { Icon } from "astro-icon/components";
---

<BaseLayout>
  <div class="hero bg-base-200 min-h-screen">
    <div class="hero-content gap-16 flex-col lg:flex-row">
      <Image
        src={// eslint-disable-next-line @typescript-eslint/no-unsafe-assignment -- アプリ側の問題ではなく対処できることがない
        IconImage}
        alt=""
        class="max-w-48 rounded-4 shadow-2xl"
      />
      <div>
        <h1 class="text-5xl font-bold">nekko1119</h1>
        <div class="py-6">
          <dl class="grid gap-y-2">
            <DescriptionRow term="名前" description="根っこ" />
            <DescriptionRow term="出身" description="茨城県" />
            <DescriptionRow term="アイコン">
              <div class="min-w-0">
                「百花繚乱」様よりお借りしています <a
                  href="https://flowerillust.com/"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="link link-primary inline-flex items-center gap-1"
                  >リンク<Icon name="lucide:external-link" /></a
                >
              </div>
            </DescriptionRow>
          </dl>
        </div>
        <div class="flex flex-col sm:flex-row gap-4 items-start">
          <a
            role="button"
            href={new URL("tech", Astro.url).pathname}
            class="btn btn-primary">技術について</a
          >
          <a
            role="button"
            href={new URL("hobby", Astro.url).pathname}
            class="btn btn-primary">趣味について</a
          >
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
