---
import DescriptionRow from "@components/DescriptionRow.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout isContent>
  <h1 class="text-4xl my-2">Web</h1>
  <div class="grid gap-4">
    <dl>
      <DescriptionRow
        term="TypeScript"
        description="1.5から使い続けている。型は厳格にしたい。型プログラミングも面白い"
      />
    </dl>
    <dl>
      <DescriptionRow
        term="React"
        description="10年以上使用経験。hocksによる状態管理や副作用、大きめのSPA開発経験あり"
      />
    </dl>
  </div>
  <h2 class="text-2xl p-2">過去</h2>
  <ul class="list-disc list-inside pb-4">
    <li>Webpack</li>
    <li>styled-components</li>
    <li>Redux</li>
    <li>redux-observable</li>
    <li>RxJS</li>
    <li>css-modules</li>
  </ul>
  <h1 class="text-4xl my-2">その他</h1>
  <div class="grid gap-4">
    <dl>
      <DescriptionRow
        term="C++"
        description="たくさん書籍を読み、テンプレートメタプログラミングなども少し触る。現在は最新規格のキャッチアップなど"
      />
    </dl>
    <dl>
      <DescriptionRow
        term="Boost"
        description="C++03,11時代は良く使ったけど、現在はほぼ使ってない"
      />
    </dl>
    <ul class="list-disc list-inside pb-4">
      <li>C++</li>
      <li>Boost</li>
      <li>WinAPI</li>
      <li>DirectX9</li>
      <li>DxLib</li>
      <li>C</li>
      <li>C#</li>
      <li>Unity</li>
      <li>Java</li>
      <li>Ruby on Rails</li>
    </ul>
  </div>
</BaseLayout>
