---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout isContent>
  <h1 class="text-4xl p-2">Web</h1>
  <ul class="list-disc list-inside pb-4">
    <li>TypeScript</li>
    <li>React</li>
    <li>Vite</li>
    <li>Vitest</li>
    <li>Storybook</li>
    <li>ESlint</li>
    <li>Prettier</li>
    <li>Node.js</li>
    <li>hono.js</li>
  </ul>
  <h2 class="text-2xl p-2">以前</h2>
  <ul class="list-disc list-inside pb-4">
    <li>Webpack</li>
    <li>styled-components</li>
    <li>Redux</li>
    <li>redux-observable</li>
    <li>RxJS</li>
    <li>css-modules</li>
  </ul>
  <h1 class="text-4xl p-2">他</h1>
  <ul class="list-disc list-inside pb-4">
    <li>C++</li>
    <li>Boost</li>
    <li>WinAPI</li>
    <li>DirectX9</li>
    <li>DxLib</li>
    <li>C</li>
    <li>C#</li>
    <li>Unity</li>
    <li>Java</li>
    <li>Ruby on Rails</li>
  </ul>
</BaseLayout>
