---
interface Props {
  label: string;
  value?: string;
}

const { label, value } = Astro.props as Props;
const hasSlots = Astro.slots.has("default");
---

<div class="grid grid-cols-[6rem_1fr] items-start">
  <dt class="font-semibold after:content-[':'] after:ml-1">{label}</dt>
  <dd>{hasSlots ? <slot /> : value}</dd>
</div>
