---
import "@styles/global.css";
import { ClientRouter } from "astro:transitions";

interface Props {
  isContent?: boolean;
}
const { isContent = false } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href={new URL("favicon.ico", Astro.url).pathname} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>nekko1119.org</title>
    <ClientRouter />
  </head>
  <body transition:animate="slide" class="py-4">
    <main class={isContent ? "mx-auto w-full max-w-sm px-4 sm:px-0" : ""}>
      <slot />
    </main>
  </body>
</html>
